<% provide(:title,"Help")%>
<h1>HomeController#help</h1>
<p>Students: Select the submit application button and fill out all required areas. 
	An email will be sent to your school address alerting you to the status of your request.</p>
